html {
    -webkit-print-color-adjust: exact;
    -webkit-filter: opacity(1);
}

.animate__animated {
    height: 100%;
}

@media print {
    * {
        transform: none;
        break-after: avoid;
        break-before: avoid;
    }
}